@import "../../assets/scss/themes";

.product-card--container {
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;

  min-width: 325px;
  min-height: 345px;
  border-radius: 12px;
}
.product-card--image {
  flex: 1;
  width: 100%;
  display: flex;
  border-radius: 5px;
}
.product-card--data-container {
  display: flex;
  flex-direction: column;
}
.product-card--data-sub-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product-card--data {
  flex: 3;
  gap: 5px;
  height: 100%;
  display: flex;
  opacity: 0.75;
  flex-direction: column;
}
.product-card--cost-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.product-card--cost-text {
  color: var(--text-hyperlink-color);
}
.product-card--hr {
  width: 100%;
  height: 0.1px;
  opacity: 0.8;
  color: var(--input-border-color);
  background-color: var(--input-border-color);
}
.product-card--button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-card--button-inner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.product-card--quantity-container {
  gap: 30px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product-card--rating {
  color: var(--main-color);
}
