.branch-board--container{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    
    

}

.branch-board--pages-centerer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

.branch-board--pages {
display: flex;
flex-direction: row;
align-items: center;

}
.branch-board--icon {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 33px;
margin-right: 33px;
}

