@import "../../assets/scss/themes";
@import "../../assets/scss/mixins.scss";

.branch-sales--header {
  margin-bottom: 30px;
}
.branch-sales--content-container {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  scroll-behavior: smooth;
  scroll-margin-left: 100%;

  @include hide-scroll();
}
.branch-sales--content {
  gap: 10px;
  display: flex;
  padding-right: 5px;
  flex-direction: row;
}
.branch-sales--modal-container {
  gap: 25px;
  display: flex;
  max-width: 75vw;
  min-width: 350px;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}
.branch-sales--modal-buttons {
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.branch-sales--modal-button {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.branch-sales--delete-modal-container {
  @extend .branch-sales--modal-container;

  max-width: 550px;
}
.sale-branch-sales--new-sale-title {
  margin-bottom: 30px;
}
.sale-branch-sales--new-sale-button {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.branch-sales--tables-and-sale {
  gap: 50px;
  display: flex;
  flex-direction: row;
}
.branch-sales--tables {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.branch-sales--table {
  width: 300px;
  display: flex;
  cursor: pointer;
  min-height: 60px;
  border-radius: 10px;
  align-items: center;
  border-left-width: 15px;
  border-left-style: solid;
  transition: background-color 500ms ease-in-out;
  background-color: var(--table-inactive-backgroung-color);
}
.branch-sales--table-available {
  border-left-color: var(--product-available-color);
}
.branch-sales--table-unavailable {
  border-left-color: var(--product-unavailable-color);
}
.branch-sales--tables-header {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.branch-sales--sale {
  flex: 1;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.branch-sales--sale-header {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.branch-sales--sale-header-buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.branch-sales--table-selected {
  background-color: var(--table-active-backgroung-color);
}