@import "../../assets/scss/themes";
@import "../../assets/scss/mixins.scss";

.branch-sales--header {
  margin-bottom: 30px;
}
.branch-sales--content-container {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  scroll-behavior: smooth;
  scroll-margin-left: 100%;

  @include hide-scroll();
}
.branch-sales--content {
  gap: 10px;
  display: flex;
  padding-right: 5px;
  flex-direction: row;
}
.branch-sales--tables-and-sale-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 60px;
  justify-content: space-between;
}
.branch-sales--tables-and-sale {
  gap: 50px;
  display: flex;
  flex-direction: row;
}
.branch-sales--no-branch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.branch-sales--modal-button-box {
  gap: 24px;
  display: flex;
  justify-content: space-between;
}
.branch-sales--submit-sale-button-text {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.branch-sales--modal-subtitle {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.branch-sales--modal-inputs {
  gap: 16px;
  display: flex;
  flex-direction: row;
}
.branch-sales--modal-tables {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
}
.branch-sales--modal-table {
  padding: 10px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  background-color: var(--main-color);
}
.branch-sales--modal-cancel-table {
  color: white;
}
.branch-sales--historical-header {
  gap: 25px;
  display: flex;
  margin-bottom: 60px;
  flex-direction: row;
  align-items: center;
}
.branch-sales--exchange {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
}