@import "../../assets/scss/variables.module.scss";

@import "../../assets/scss/dark-theme.scss";
@import "../../assets/scss/light-theme.scss";

.reservation--container {
  min-height: 80px;
  padding-left: 16px;
  padding-right: 46px;
  padding-top: 13px;
  padding-bottom: 8px;
  margin-bottom: 32px;
  background-color: $light-theme--background-color;
  border-left-width: 20px;
  border-left-style: solid;
}
.reservation-details--row {
  display: flex;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .reservation--container {
    background-color: $dark-theme--background-color;
  }
}

.reservation--details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 7px 0;
}

.reservation--info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reservation--box-button {
  margin: 15px 0;
  display: flex;
}
.reservation--right-button {
  margin-left: auto;
  .button {
    background-color: #ef7b00;
  }
  .text{
    color: #112211;
  }
}

.reservation--left-button {
  margin-right: auto;
  .button {
    background-color: #ef7b00;
  }
  .text{
    color: #112211;
  }
}

.reservation--start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 16px;
  background-color: #646464;
}
.reservation--dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 16px;
  margin-top: 15px;
}

.reservation--separator {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.reservation--button {
  min-width: 110px;
}
.reservation--action {
  display: flex;
  flex-direction: row;

}
.reservation--icon-container {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reservation--icon {
  margin-left: 12px;
  cursor: pointer;
}

.reservation-more-details--row{
  margin-left: 24px;
  overflow: hidden;
}

.reservation-more-details--row-show {
  width: 100%;
  opacity: 1;
  height: 230px;
  transition: height 400ms ease-in-out, opacity 4ms;
}
.reservation-more-details--row-hide {
  width: 100%;
  opacity: 0;
  height: 0;
  transition: opacity 4ms linear 400ms, height 400ms ease-in-out;
}

.reservation-flex-box{
  display: flex;
}