@import "../../assets/scss/variables.module.scss";

.business-header--container {
  display: flex;
  margin-top: 40px;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.business-header--main-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.business-header--profile-picture {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.business-header--button-container {
  position: absolute;
  top: 0;
  right: 0;
}
.business-header--button {
  display: flex;
  flex-direction: row;
  align-items: center;
}