.branch-search--container {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  min-width: 1050px;
  min-height: 190px;
}
.branch-search--search-zone {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 32px;
}
.branch-search--search-date {
  flex: 1.5; 
  margin-left: 24px; 
  margin-right: 24px;
}
.branch-search--search-hour {
  flex: 1; 
  margin-right: 24px;
}
.branch-search--search-persons {
  flex: 1; 
  margin-right: 24px;
}
.branch-search--search-text {
  flex: 3.5; 
  margin-right: 24px;
}
.branch-search--button-zone {
  position: absolute;
  bottom: 32px;
  right: 24px;
}
.branch-search--button-text {
  margin-left: 5px;
}
.branch-search--button {
  display: flex;
  align-items: center;
}