@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/variables.module.scss";

.business-profile--content-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  scroll-behavior: smooth;
  scroll-margin-left: 100%;

  @include hide-scroll();
}
.business-profile--content {
  display: flex;
  flex-direction: row;
}
.business-profile--modal-container {
  gap: 10px;
  display: flex;
  padding: 10px;
  min-width: 50vw;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}
.business-profile--two-column-row {
  gap: 16px;
  display: grid;
  direction: row;
  grid-template-columns: 1fr 1fr;
}
.business-profile--precise-location-container {
  display: flex;
  height: 100px;
  margin-bottom: 36px;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
}
.business-profile--label {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.business-profile--button-create-branch {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.business-profile--modal-buttons {
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
