@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/variables.module.scss";

.business-profile--content-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  scroll-behavior: smooth;
  scroll-margin-left: 100%;

  @include hide-scroll();
}
.business-profile--content {
  display: flex;
  flex-direction: row;
}