@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/variables.module.scss";

.branch-reserve--header {
  margin-bottom: 30px;
}
.branch-reserve--content-container {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-margin-left: 100%;

  @include hide-scroll();
}
.branch-reserve--content {
  display: flex;
  flex-direction: row;
}

.no-branch-box{
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}