@import "../../assets/scss/mixins.scss";

.input-select--menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  top: calc(100% + 5px);
  left: 0;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  border-radius: 4px;
  border: 1px solid #79747e;
  justify-content: flex-start;
  
  @include hide-scroll();
}
.input-select--option-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 0px;
  border: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.input-select--icon {
  width: 25px !important;
}
