@import "../../assets/scss/variables.module.scss";

.terms--super-container {
  max-height: 100vh;
}
.terms--container {
  margin-top: 50px;
  margin-left: 105px;
  margin-right: 105px;
  margin-bottom: 50px;

  padding: 12px;
  background-color: white;
}
.term--section {
  margin-top: 34px;
}
.term--title {
  margin-bottom: 16px;
}