.branch-listing--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  background-color: "#8D8D8D";
  // Add a flag that makes it occupy all the space of the parent
  flex: 1;
  padding-top: 67px;
}

.branch-listing--columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1em;
  border-radius: 10px;
}

.branch-listing--right-column {
  display: flex;
  // Make it so that the component occupies the entire width of the parent
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.branch-listing--vertical-line {
  border-left: rgba(#112211, 0.25) 1px solid;
  height: 100%;
  margin-right: 0;
  margin-left: 1rem;
  // Make so it is a lighter grey
}

.branch-listing--left-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
}

.branch-profile--main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.branch-profile--main-content-left {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}