@import "../../assets/scss/themes";

.option--container {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  cursor: pointer;
}
.option--container-circle {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--input-border-color);
}
.option--container-circle-selected {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: var(--input-border-color);
}
.option--checkbox {
  color: var(--input-border-color) !important;
}
