@import "../../assets/scss/themes";

.icon {
  color: var(--icon-color);
}

// Create an style for alerts and for errors

.icon--error {
  color: var(--error-color);
}

.icon--warning {
  color: var(--warning-color);
}
