@import "../../assets/scss/mixins.scss";

.images-carousel--container {
  position: relative;
  overflow: hidden;
  width: 616px;
  height: 816px;
}
.images-carousel--images-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;

  @include hide-scroll();
}
.images-carousel--image {
  display: flex;
}
.images-carousel--dots {
  position: absolute;
  transform: translateX(-50%);
  bottom: 30px;
  left: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.images-carousel--dot {
  margin-left: 5px;
  margin-right: 5px;
  transition: width 500ms ease-in-out, background-color 500ms;
}
