@import "../../assets/scss/mixins.scss";

.business-account-info--container {
  display: flex;
  flex-direction: column;
}
.business-account-info--data-container {
  gap: 25px;
  display: flex;
  margin-top: 16px;
  border-radius: 16px;
  
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;

  background-color: var(--background-color);
  border-radius: 16px;
  flex-direction: column;
  @include mobile {
    gap: 10px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}
.business-account-info--input-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}
.business-account-info--modal-container {
  width: 75vw;
  display: flex;
  max-width: 410px;
  flex-direction: column;
}
.business-account-info--modal-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  align-items: center;
}
.business-account-info--forgot-password {
  cursor: pointer;
}
.business-account-info--modal-cancel {
  cursor: pointer;
}
.business-account-info--modal-change-password-button {
  width: 100%;
  text-align: center;
}