.business-account-info--container {
  display: flex;
  flex-direction: column;
}
.business-account-info--data-container {
  margin-top: 16px;
  
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;

  background-color: white;
  border-radius: 16px;
}
.business-account-info--input-container {
  margin-bottom: 25px;
}
.business-account-info--modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.business-account-info--modal-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  align-items: center;
}
.business-account-info--forgot-password {
  cursor: pointer;
}
.business-account-info--modal-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.business-account-info--modal-cancel {
  cursor: pointer;
}
.business-account-info--modal-change-password-button {
  width: 100%;
  text-align: center;
}