@import "../../assets/scss/variables.module.scss";
@import '../../assets/scss/dark-theme.scss';
@import '../../assets/scss/light-theme.scss';

.editable-input-text--container {
  display: flex;
  flex-direction: column;
}

.editable-input-text--input-container {
  display: flex;
  min-height: 43px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.editable-input-text--input:focus {
  outline: none;
}


.editable-input-text--error-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 20px;

  animation-name: shake;
  animation-duration: 0.15s;
  animation-iteration-count: 2;
}

.editable-input-text--input {
  font-weight: 600;
  font-size: 20px;
  font-family: "Montserrat";
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: 8px;
  margin-top: 2px;
  border-bottom: 0.5px solid $light-theme--alternative-color ;
  color :  $light-theme--alternative-color;
  background-color: transparent;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .editable-input-text--input {
    border-bottom: 0.5px solid $dark-theme--alternative-color ;
    color :  $dark-theme--alternative-color;
  }
}

.editable-input-text--text {
  font-family: "Montserrat";
  line-height: 24px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
}

@keyframes shake {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

.editable-input-text--animation {
  animation-name: shake;
}
.editable-input-text--no-animation {
  animation-name: none;
}
