@import "../../assets/scss/variables.module.scss";


.editable-input-text--container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

.editable-input-text--select{

  font-family  : 'Montserrat';
  font-weight  : 600;
  font-size: 20px;
  margin: 0px;
  min-width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid black;
  border-radius: 0px;
  width: 100%,
}

.editable-input-text--input{
  font-weight: 600; 
  font-size: 20px; 
  font-family : 'Montserrat';
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: 8px;
  margin-top: 2px;
  border-bottom: 0.5px solid black;
  width: 100%,
}

.editable-input-text--text{
  
  font-family : 'Montserrat';
  line-height: 24px;
  margin-left: 10px;
  font-weight: 600;
  font-size  :20px;
  width: 100%,
  
}



@keyframes shake {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}