@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/variables.module.scss";

.dropdown-input-select--menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  // top: calc(100% + 5px);
  right: 35px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  justify-content: flex-start;
  
  margin-top: 20px;

  @include hide-scroll();

  padding-left: 0;

  min-width: 100px;
  padding: 14px 0 0;
  background-color: white;
  border-radius: 12px;
  border: solid 2px gray;

  ul {
    padding: 0;
    margin: 0;
    div:first-child {
      display: flex;
      align-items: center;
      padding: 0 14px;
      &.box {
        margin-right: 15px;
        aspect-ratio: 1;
        padding: 0;
      }
    }
    hr{
      margin: 14px 0 0;
    }
  }

  li {
    list-style: none;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: 0.25s all;
    &:hover {
      
      background-color: $select-color;
    }

    svg {
      margin-right: 5px;
    }
  }
}

.dropdown-input-select--menu-in {
  transition: max-height $animation-duration ease-in-out, opacity 5ms;
}
.dropdown-input-select--menu-out {
  transition: opacity 5ms linear $animation-duration, max-height $animation-duration ease-in-out;
}

.profile-picture--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-picture--icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 27.5%;
  height: 27.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}