@import "../../assets/scss/themes";
@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/variables.module.scss";

.profile-picture--dropdown-input-select--menu {
  width: 100%;
  right: 35px;
  display: flex;
  padding-left: 0;
  min-width: 100px;
  margin-top: 20px;
  max-height: 300px;
  padding: 14px 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  border-radius: 12px;
  flex-direction: column;
  border: solid 2px gray;
  background-color: white;
  justify-content: flex-start;

  @include hide-scroll();

  ul {
    padding: 0;
    margin: 0;
    div:first-child {
      display: flex;
      align-items: center;
      padding: 0 14px;
      &.box {
        margin-right: 15px;
        aspect-ratio: 1;
        padding: 0;
      }
    }
    hr {
      margin: 14px 0 0;
    }
  }

  li {
    list-style: none;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: 0.25s all;
    &:hover {
      background-color: var(--select-color);
    }

    svg {
      margin-right: 5px;
    }
  }
}
.profile-picture--dropdown-input-select--menu-in {
  transition: max-height $animation-duration ease-in-out, opacity 5ms;
}
.profile-picture--dropdown-input-select--menu-out {
  transition: opacity 5ms linear $animation-duration,
    max-height $animation-duration ease-in-out;
}
.profile-picture--icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 27.5%;
  height: 27.5%;
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  cursor: pointer;
  background-color: var(--main-color);
}
.profile-picture--container {
  position: relative;
  border: 0.15rem solid var(--main-color);
}
