@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/themes.scss";

.input-tab--container {
  position: relative;
  display: flex;
  min-height: 80px;
  background-color: var(--background-color);

  @include mobile {
    min-height: 50px;
  }
}
.input-tab--tab {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
}
.input-tab--separator {
  position: absolute;
  left: 0;
  top: 16px;
  bottom: 16px;
  border: 1px solid var(--input-tab-separator-color);
}
.input-tab--line {
  position: absolute;
  height: 0;
  border: 2px solid;
  bottom: 0;
  transition: width $animation-duration ease-in-out,
    left $animation-duration ease-in-out;
  border-color: var(--input-tab-line-color);
}
