@import "../../assets/scss/variables.module.scss";

.basic-page--container {
  gap: 1em;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $background-color;
}

.basic-page--content-container {
  display: flex;
  flex: 1;
  padding-top: 54px;
  flex-direction: column;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}
