@import "../../assets/scss/variables.scss";

.basic-page--container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.basic-page--content-container {
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  display: flex;
  padding-top: 54px;
}