.basic-page--container{
    display: flex;
    flex-direction: column;
    gap : 1em;
}

.basic-page--content-container-zone{
    
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
    display: flex;
    background-color: "#8D8D8D";
}

.basic-page--content-container{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    border-radius: 10px;
    // Add a flag that makes it occupy all the space of the parent
    flex: 1;
}

