@import "../../assets/scss/themes";

.basic-page--container {
  gap: 1em;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--background-color);
}
.basic-page--content-container {
  display: flex;
  flex: 1;
  padding-top: 54px;
  min-height: 60vh;
  flex-direction: column;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}
