@import "../../assets/scss/variables.module.scss";
@import "../../assets/scss/dark-theme.scss";
@import "../../assets/scss/light-theme.scss";

.basic-page--container {
  gap: 1em;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $light-theme--background-color;
}
@media (prefers-color-scheme: dark) {
  .basic-page--container {
    background-color:#232323;
  }
}
  

.basic-page--content-container {
  display: flex;
  flex: 1;
  padding-top: 54px;
  min-height: 60vh;
  flex-direction: column;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}
