.restaurant-details--details-card--container {
  min-width: 250px;
  overflow: hidden;
  padding: 24px;
  border-radius: 12px;
}

.restaurant-details--details-card--summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-details--name-and-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.restaurant-details--img-and-icons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.restaurant-details--detail--line {
  opacity: 0.25;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 100%;
}

.restaurant-details--score-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  margin-top: 20px;
}

.restaurant-details--score-box-with-border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 4px;
  border: 1px solid;
  border-radius: 12px;
}

.restaurant-details--resumen-box-text {
  padding: 10px 0px;

  .text:nth-child(1) {
    margin-bottom: 5px;
  }
}

.restaurant-details--details-title {
  margin-bottom: 16px;
}

.restaurant-details--amenity-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.restaurant-details--branch-search--button-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .text:nth-child(1) {
    margin-right: 16px;
  }
}

.restaurant-details--map-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 16px;
}

.restaurant-details--restaurant-detail-image {
  border-radius: 12px;
  min-width: 162px;
  height: 75px;
}

.restaurant-details--branch-amenity--vertical-line {
  border-left: rgba(#112211, 0.25) 1px solid;
  height: 48px;
  margin-right: 24px;
  margin-left: 24px;
}
