@import "../../assets/scss/mixins.scss";

.branch-edit-form--container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--background-color);
  gap: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  @include mobile {
    gap: 10px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}
.branch-edit-form--two-column-row {
  gap: 24px;
  display: grid;
  direction: row;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    gap: 0;
    display: flex;
    flex-direction: column;
  }
}

.branch-edit-form--name-input {
  display: flex;
  flex-direction: column;
}
.branch-edit-form--description-container {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.branch-edit-form--precise-location-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
}
.branch-edit-form--precise-location-map {
  height: 377px;
  border-radius: 16px;
  margin-bottom: 64px;

  @include mobile {
    height: 250px;
    margin-bottom: 50px;
  }
}
.branch-edit-form--input-item {
  padding-top: 8px;
}
.branch-edit-form--modal-container {
  gap: 25px;
  display: flex;
  max-width: 75vw;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.branch-edit-form--modal-container-info {
  @extend .branch-edit-form--modal-container;

  max-width: 550px !important;
}
.branch-edit-form--modal-text {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.branch-edit-form--modal-button {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.branch-edit-form--modal-buttons {
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
