.branch-edit--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  gap : 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  width: 1232px;
  height: 1157px;

}

.branch-edit--two-column-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  //gap: 24px;
  width: 100%;
  direction: row;
}

.branch-edit--name-input{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.branch-edit--input-label{
  opacity: 0.75;
}

.branch-edit--description-container{
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

.branch-edit--precise-location-container{
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 10px;
}

.branch-edit--precise-location-map{
  width: 1012px;
  height: 377px;
  border-radius: 16px;
  display: flex;
}

.branch-edit--input-item{
  padding-top: 8px;
}
