@import "../../assets/scss/dark-theme.scss";
@import "../../assets/scss/light-theme.scss";

.branch-edit-form--container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: $light-theme--background-color;
  gap: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media (prefers-color-scheme: dark) {
  .branch-edit-form--container {
    background-color: $dark-theme--background-color;
  }
}

.branch-edit-form--two-column-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  //width: 100%;
  direction: row;
}

.branch-edit-form--name-input {
  //width: 100%;
  display: flex;
  flex-direction: column;
}

.branch-edit-form--input-label {
  opacity: 0.75;
}

.branch-edit-form--description-container {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  //padding: 10px;
}

.branch-edit-form--precise-location-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
}

.branch-edit-form--precise-location-map {
  height: 377px;
  border-radius: 16px;
  margin-bottom: 64px;
}

.branch-edit-form--input-item {
  padding-top: 8px;
}
.branch-edit-form--modal-container {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.branch-edit-form--modal-button {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
