@import "../../assets/scss/mixins.scss";

.recover-password-form--container {
  display: flex;
  min-width: 316px;
  min-height: 300px;
  flex-direction: column;
  justify-content: space-evenly;

  @include mobile {
    min-width: 100%;
  }
}
.recover-password-form--content {
  display: flex;
  flex-direction: column;
}
.recover-password-form--login-with {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.recover-password-form--button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.recover-password-form--login-with-text {
  margin-left: 16px;
  margin-right: 16px;
}
.recover-password-form--pointer {
  cursor: pointer;
}
.recover-password-form--other-logins-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.recover-password-form--other-login-button-sub-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.recover-password-form--other-login-text {
  @include mobile {
    display: none;
  }
}
.recover-password-form--other-login {
  width: 100%;

  @include mobile {
    width: auto;
  }
}
.recover-password-form--other-login-button {
  @include mobile {
    border-radius: 100%;
  }
}