.recover-password-form--container {
  display: flex;
  flex-direction: column;
  min-width: 316px;
  min-height: 450px;
}
.recover-password-form--content {
  display: flex;
  flex-direction: column;
}
.recover-password-form--input {
  margin-bottom: 50px;
}
.recover-password-form--login-with {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.recover-password-form--button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.recover-password-form--login-with-text {
  margin-left: 16px;
  margin-right: 16px;
}
.recover-password-form--pointer {
  cursor: pointer;
}
.recover-password-form--other-logins-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.recover-password-form--other-login {
  margin-bottom: 20px;
}
.recover-password-form--other-login-button {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
}