.sign-up--container{
    display: flex;
    gap: 104px;
    min-width: 1500px;
}
.sign-up--caroussel{
    padding: 20px;
}
.sign-up--login-form-container{
    flex: 2;
    padding: 20px;
}

.sign-up--sub-title{
    /* Blackish Green */
    color: #112211;
    opacity: 0.75;
    margin-bottom: 48px;
}

.sign-up--title{
    margin-bottom: 16px;
}

.sign-up--icon{
    margin-bottom: 36.24px;
}