@import '../../assets/scss/dark-theme.scss';
@import '../../assets/scss/light-theme.scss';

.modal--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal--content {
  display: flex;
  padding: 24px;
  border-radius: 12px;
  flex-direction: column;
  background-color: $light-theme--background-color;
}

@media (prefers-color-scheme: dark){
  .modal--content {
    background-color: $dark-theme--background-color;
  }
}