@import "../../assets/scss/themes";

.modal--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal--content {
  display: flex;
  padding: 24px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--background-color) !important;
}
