@import "../../assets/scss/mixins.scss";

.paginable--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.paginable--pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}
.paginable--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 33px;
  margin-right: 33px;
}
.paginable--counter {
  @include unselectable();
}
