.forgot-password-form--container {
  display: flex;
  flex-direction: column;
  min-width: 316px;
  min-height: 450px;
}
.forgot-password-form--content {
  display: flex;
  flex-direction: column;
}
.forgot-password-form--input {
  margin-bottom: 32px;
}
.forgot-password-form--input-email{
  margin-bottom: 0px;
}
.forgot-password-form--button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.forgot-password-form--login-with {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.forgot-password-form--login-with-text {
  margin-left: 16px;
  margin-right: 16px;
}

.forgot-password-form--other-logins-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: left;
}
.forgot-password-form--other-login {
  margin-top: 20px;
  margin-bottom: 20px;
}
.forgot-password-form--other-login-button {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
}