@import "../../assets/scss/variables.module.scss";

.editable-input-long-text--super-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editable-input-long-text--container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.editable-input-long-text--text-area {
  z-index: 0;
  border: 0px;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 1em;
  display: flex;
  outline: none;
  overflow: hidden;
  align-items: right;
  flex-direction: row;
  text-overflow: clip;
  justify-content: flex-start;
  background-color: transparent;
}

.editable-input-long-text--text-area-container {
  border-radius: 4px;
  border: 1px solid #79747e;
  width: 100%;
  height: 100%;
  display: flex;
}

.editable-input-long-text--text{
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: clip;
}






