@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/variables.module.scss";

.header-branch-dropdown-input-select--menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  //width: 100%;
  top: calc(30%);
  left: 0px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  justify-content: flex-start;

  margin-top: 20px;

  @include hide-scroll();

  padding-left: 0;
  min-width: 50px;
  max-width: 300px;
  padding: 14px 0 0;
  background-color: white;
  border-radius: 12px;
  border: solid 2px gray;

  ul {
    padding: 0;
    margin: 0;

    div:first-child {
      display: flex;
      align-items: center;
      padding: 0 14px;

      &.box {
        margin-right: 15px;
        aspect-ratio: 1;
        padding: 0px;
    
      }
    }
  }

  li {

    list-style: none;
    text-align: left;
    padding-top: 14px;
    padding-right: 40px;
    padding-bottom: 14px;
    transition: 0.25s all;


    &:hover {
      background-color: $select-color;
    }

  }
}

.header-branch-dropdown-input-select--menu-in {
  transition: max-height $animation-duration ease-in-out, opacity 5ms;
}

.header-branch-dropdown-input-select--menu-out {
  transition: opacity 5ms linear $animation-duration, max-height $animation-duration ease-in-out;
}
