.client-info-form--container {
  display: flex;
  flex-direction: column;
  min-width: 316px;
}
.client-info-form--content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.client-info-form-inputs-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.client-info-form--title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.client-info--submit-reservation--button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}