.client-info-form--container {
  display: flex;
  flex-direction: column;
  min-width: 316px;
}
.client-info-form--content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.client-info-form-inputs-box{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form--title{
  display : flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}