@import "../../assets/scss/mixins.scss";

.add-promotion-card--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  overflow: hidden;
  min-width: 500px;
  min-height: 20px;
  @include unselectable();
}
.add-promotion-card--text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px;
}
.add-promotion-card--menu-text {
  margin-right: 12px;
  @include unselectable();
}

.add-promotion-card--menu-button {
  display: flex;
  margin-left: 15px;
  border-radius: 100px;
  padding: 6px 10px;
  height: 1.1em;
  cursor: pointer;
  @include unselectable();
}

.add-promotion-card--menu-button:active {
  animation: click 0.5s;
}
@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
