.reset-password-form--container {
  display: flex;
  min-width: 316px;
  min-height: 270px;
  flex-direction: column;
}
.reset-password-form--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.reset-password-form--login-with {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reset-password-form--button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}