@import "../../assets/scss/mixins.scss";

.reset-password-form--container {
  display: flex;
  min-width: 316px;
  min-height: 300px;
  flex-direction: column;

  @include mobile {
    min-width: 100%;
  }
}
.reset-password-form--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include mobile {
    gap: 10px;
    justify-content: flex-start;
  }
}
.reset-password-form--login-with {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reset-password-form--button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.reset-password-form--button-container {
  @include mobile {
    margin-top: 20px;
  }
}