.new-reserve--container {
  background-color: white;
  border-radius: 40px;
  padding-top: 74px;
  padding-bottom: 74px;
  padding-left: 68px;
  padding-right: 68px;
  min-width: 900px;
  min-height: 580px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-reserve--details {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 32px;
}
.new-reserve--image {
  min-width: 124px;
  min-height: 124px;
  margin-right: 16px;
}
.new-reserve--location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.new-reserve--input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.new-reserve--input1 {
  margin-left: 16px;
  z-index: 2;
}
.new-reserve--input-date {
  z-index: 2;
}
.new-reserve--input2 {
  margin-left: 24px;
}
.new-reserve--find-button-container {
  margin-bottom: 32px;
}