.auth-page--container {
  display: flex;
  height: 100vh;
  padding-top: 7vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 7vh;
  align-items: center;
  justify-content: center;
}
.auth-page--subcontainer {
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
