.cancellation-form--container
{
  display: flex;
  flex-direction: column;
  gap : 24px;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 24px;
}
.cancellation-form--title{
  display : flex;
  align-items: center;
}
.cancellation-form--input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.cancellation-form--line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cancellation-form--input1 {
  z-index: 2;
}


.cancellation-form--button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

