@import "../../assets/scss/variables.module.scss";

.reset-password-component--container {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.reset-password-component--left-container {
  display: flex;
  flex-direction: column;
}
.reset-password-component--content {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  padding-right: 100px;
}
.reset-password-component--back-to-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
  width: fit-content
}
.reset-password-component--title {
  margin-bottom: 16px;
}
.reset-password-component--subtitle {
  margin-bottom: 48px;
}
.reset-password-component--input {
  margin-bottom: 24px;
}
.reset-password-component--reset-password-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.reset-password-component--remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.reset-password-component--button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.reset-password-component--sign-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-bottom: 40px;
}
.reset-password-component--reset-password-with {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.reset-password-component--reset-password-with-text {
  margin-left: 16px;
  margin-right: 16px;
}
.reset-password-component--pointer {
  cursor: pointer;
}
.reset-password-component--other-logins-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reset-password-component--other-reset-password-button {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
}