@import "../../assets/scss/themes";
@import "../../assets/scss/mixins.scss";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
}

.text {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  line-height: 1.3em;
  color: var(--text-color);
}

.text--warning {
  color: var(--warning-color);
}
.text--warning-border {
  border-color: var(--warning-color);
}
.text--error {
  color: var(--error-color);
}
.text--error-border {
  border-color: var(--error-color);
}
.text--button {
  color: var(--text-button-color);
}
.text--hyperlink {
  color: var(--text-hyperlink-color);
}
.text--hightlight {
  color: var(--text-highlight-color);
}

// Styles
.text--italic {
  font-style: italic;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Size
.text--h1 {
  font-size: 5em;
}
.text--h2 {
  font-size: 2.8125em;
}
.text--h3 {
  font-size: 2em;
}
.text--h4 {
  font-size: 1.5em;
}
.text--h5 {
  font-size: 1.25em;
}
.text--p {
  font-size: 1em;
}
.text--h6 {
  font-size: 0.875em;
}
.text--h7 {
  font-size: 0.75em;
}
.text--h8 {
  font-size: 0.625em;
}

@include mobile {
  .text--h1 {
    font-size: 3.5em;
  }
  .text--h2 {
    font-size: 2.2em;
  }
  .text--h3 {
    font-size: 2em;
  }
  .text--h4 {
    font-size: 1.5em;
  }
  .text--h5 {
    font-size: 1.25em;
  }
  .text--p {
    font-size: 1em;
  }
  .text--h6 {
    font-size: 0.875em;
  }
  .text--h7 {
    font-size: 0.75em;
  }
  .text--h8 {
    font-size: 0.625em;
  }
}
