@import '../../assets/scss/dark-theme.scss';
@import '../../assets/scss/light-theme.scss';
@import '../../assets/scss/variables.module.scss';

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  color: $light-theme--text;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
}

@media (prefers-color-scheme: dark){
  .text {
    color: $dark-theme--text;
  }
}

.text--warning {
  color: $warning-color;
}
.text--error {
  color: $error-color;
}
.text--button {
  color: $light-theme--text-button-color;
}
.text--hyperlink{
  color : $light-theme--text-hyperlink-color;
}
.text--hightlight{
  color : $light-theme--text-highlight-color;
}

@media (prefers-color-scheme: dark){
  .text--button {
    color: $dark-theme--text;
  }
  .text--hyperlink{
    color : $dark-theme--text-hyperlink-color;
  }
  .text--hightlight{
    color : $dark-theme--text-highlight-color;
  }
}



// Styles 
.text--italic {
  font-style: italic;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Size 
.text--h1 {
  font-size: 80px;
  line-height: 98px;
}
.text--h2 {
  font-size: 45px;
  line-height: 55px;
}
.text--h3 {
  font-size: 32px;
  line-height: 39px;
}
.text--h4 {
  font-size: 24px;
  line-height: 29px;
}
.text--h5 {
  font-size: 20px;
  line-height: 24px;
}
.p {
  font-size: 16px;
  line-height: 19.5px;
}
.text--h6 {
  font-size: 14px;
  line-height: 17px;
}
.text--h7 {
  font-size: 12px;
  line-height: 14.5px;
}
.text--h8 {
  font-size: 10px;
  line-height: 10px;
}

