@import "../../assets/scss/mixins.scss";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  color: "#121212";
  font-weight: 500;
  line-height: 1.3em;
}

// Styles
.text--italic {
  font-style: italic;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Size
.text--h1 {
  font-size: 5em;
}
.text--h2 {
  font-size: 2.8125em;
}
.text--h3 {
  font-size: 2em;
}
.text--h4 {
  font-size: 1.5em;
}
.text--h5 {
  font-size: 1.25em;
}
.text--p {
  font-size: 1em;
}
.text--h6 {
  font-size: 0.875em;
}
.text--h7 {
  font-size: 0.75em;
}
.text--h8 {
  font-size: 0.625em;
}

@include mobile {
  .text--h1 {
    font-size: 3.5em;
  }
  .text--h2 {
    font-size: 2.2em;
  }
  .text--h3 {
    font-size: 2em;
  }
  .text--h4 {
    font-size: 1.5em;
  }
  .text--h5 {
    font-size: 1.25em;
  }
  .text--p {
    font-size: 1em;
  }
  .text--h6 {
    font-size: 0.875em;
  }
  .text--h7 {
    font-size: 0.75em;
  }
  .text--h8 {
    font-size: 0.625em;
  }
}
