.fast-reserve-box--container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-start;
    min-height: 420px;
    min-width: 300px;
    /*overflow-y: scroll;*/
}

.fast-reserve-box--title{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em;

}
.fast-reserve-box--input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.fast-reserve-box--line {
    opacity: 0.50;
}


.fast-reserve-box--input-select-top{
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    z-index: 2;
}

.fast-reserve-box--input-select-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.25em;

}

.fast-reserve-box--input-select-bottom-left{
    flex-grow: 1.15;
    margin-right: 0.5em;

}

.fast-reserve-box--input-select-bottom-right{
    flex-grow: 1;
    margin-left: 0.5em;
}


.fast-reserve-box--reserve-button-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1.5em;
    
}

.fast-reserve-box--find-hour-button-box{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 7px;
    margin-bottom: 1em;
}

