@import "../../assets/scss/themes";
@import "../../assets/scss/variables.module.scss";

.editable--container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.editable--editable-icon {
  margin-left: 10px;
  cursor: pointer;
}
.editable--edit-animation {
  animation: editable--edit-animation 500ms linear forwards;
}
.editable--edit-animation-reverse {
  animation: editable--edit-animation-reverse 500ms linear forwards;
}
.editable--edit-button-container {
  position: relative;
  overflow: hidden;
  margin-left: 5px;
  width: 220px;
  transition: width $animation-duration ease-in-out;
}
.editable--edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  transition: width $animation-duration ease-in-out;
}
.editable--action-icon {
  cursor: pointer;
}

@keyframes editable--edit-animation {
  from {
    transform: rotate(0deg);
    color: var(--icon-color);
  }
  to {
    transform: rotate(-90deg);
    color: var(--main-color);
  }
}
@keyframes editable--edit-animation-reverse {
  from {
    transform: rotate(-90deg);
    color: var(--main-color);
  }
  to {
    transform: rotate(0deg);
    color: var(--icon-color);
  }
}
