@import "../../assets/scss/variables.scss";

.editable--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}
.editable--editable-icon {
  margin-left: 10px;
  cursor: pointer;
  background-color: transparent;
}
@keyframes editable--edit-animation {
  from {
    transform: rotate(0deg);
    color: var(--editable-end-color);
  }
  to {
    transform: rotate(-90deg);
    color: var(--editable-initial-color);
  }
}
@keyframes editable--edit-animation-reverse {
  from {
    transform: rotate(-90deg);
    color: var(--editable-initial-color);
  }
  to {
    transform: rotate(0deg);
    color: var(--editable-end-color);
  }
}
.editable--edit-button-container {
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  width: 220px;
  background-color: transparent;
}
.editable--edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  transition: width $animation-duration ease-in-out;
  background-color: transparent;
}
.editable--action-icon {
  cursor: pointer;
  background-color: transparent;
}