@import "../../assets/scss/variables.module.scss";
@import '../../assets/scss/dark-theme.scss';
@import '../../assets/scss/light-theme.scss';



.editable--container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.editable--editable-icon {
  margin-left: 10px;
  cursor: pointer;
}

.editable--edit-animation {
  animation: editable--edit-animation--light 500ms linear forwards;
}
.editable--edit-animation-reverse {
  animation: editable--edit-animation-reverse--light 500ms linear forwards;
}

@media (prefers-color-scheme: dark){
  .editable--edit-animation {
    animation: editable--edit-animation--dark 500ms linear forwards;
  }
  .editable--edit-animation-reverse {
    animation: editable--edit-animation-reverse--dark 500ms linear forwards;
  }
}

.editable--edit-button-container {
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  width: 220px;
  transition: width $animation-duration ease-in-out;
}
.editable--edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  transition: width $animation-duration ease-in-out;
}
.editable--action-icon {
  cursor: pointer;
}


@keyframes editable--edit-animation--light {
  from {
    transform: rotate(0deg);
    color: $light-theme--icon-color;
  }
  to {
    transform: rotate(-90deg);
    color: $light-theme--main-color;
  }
}
@keyframes editable--edit-animation-reverse--light {
  from {
    transform: rotate(-90deg);
    color: $light-theme--main-color;
    
  }
  to {
    transform: rotate(0deg);
    color: $light-theme--icon-color;
  }
}


@keyframes editable--edit-animation--dark {
  from {
    transform: rotate(0deg);
    color: $dark-theme--icon-color;
  }
  to {
    transform: rotate(-90deg);
    color: $dark-theme--main-color;
  }
}
@keyframes editable--edit-animation-reverse--dark {
  from {
    transform: rotate(-90deg);
    color: $dark-theme--main-color;
    
  }
  to {
    transform: rotate(0deg);
    color: $dark-theme--icon-color;
  }
}
