@import "./palette.scss";

/** LIGHT THEME */
@media (prefers-color-scheme: light) {
  :root {
    // Base styles
    --main-color: #{$orange};
    --alternative-color: #{$black};
    --background-color: #{$white};
    --alternative-background-color: #{$white-dark};
    --cancel-color: #{$red};
    --select-color: #{$white-dark};
    --card-background-color: #{$white-dark};

    //Code
    --error-color: #{$red};
    --check-color: #{$green};
    --warning-color: #{$yellow};

    // Icons
    --icons-color: #{$black};
    --select-color: #{$white-dark};
    --icons-color-reversed: #{$white};

    // Text
    --text-color: #{$black};
    --text-button-color: #{$white};
    --text-input-color: #{$black};
    --text-hyperlink-color: #{$pink};
    --text-highlight-color: #{$black};
    --text-secondary-color: #{$gray};

    // Status Colors
    --unset-status-color: #{$black};
    --pending-status-color: #{$yellow-dark};
    --rejected-status-color: #{$red};
    --accepted-status-color: #{$green};
    --retired-status-color: #{$purple-light};
    --started-status-color: #{$blue-light};
    --closed-status-color: #{$gray};

    // Products
    --product-available-color: #{$green};
    --product-unavailable-color: #{$gray};

    // Switch
    --switch-active-color: #{$blue-dark};
    --switch-inactive-color: #{$gray};
    --switch-circle-color: #{$white};

    // Input tab
    --input-tab-separator-color: #{$white-dark};
    --input-tab-line-color: #{$green};
    --input-tab-background-color: #{$white};

    // Paginable icons color
    --paginable-active-color: #{$black};
    --paginable-inactive-color: #{$gray-light};

    // Input
    --input-border-color: #{$gray};

    // Input select
    --odd-option-color: #{$white};
    --pair-option-color: #{$white-dark};

    // Tables
    --table-active-backgroung-color: #{$orange};
    --table-inactive-backgroung-color: #{$gray-light};
    --table-selected-backgroung-color: #{$orange-dark};
  }
}

/** DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    // Base styles
    --main-color: #{$orange};
    --alternative-color: #{$white-dark};
    --background-color: #{$black-light};
    --alternative-background-color: #{$gray-light};
    --cancel-color: #{$red};
    --select-color: #{$white-dark};
    --card-background-color: #{$gray-dark};

    //Code
    --error-color: #{$red};
    --check-color: #{$green};
    --warning-color: #{$yellow};

    // Icons
    --icons-color: #{$white};
    --select-color: #{$black};
    --icons-color-reversed: #{$black};

    // Status Colors
    --unset-status-color: #{$black};
    --pending-status-color: #{$yellow-dark};
    --rejected-status-color: #{$red};
    --accepted-status-color: #{$green};
    --retired-status-color: #{$purple-light};
    --started-status-color: #{$blue-light};
    --closed-status-color: #{$gray};

    // Text
    --text-color: #{$white-dark};
    --text-button-color: #{$black};
    --text-input-color: #{$white-dark};
    --text-hyperlink-color: #{$pink};
    --text-highlight-color: #{$gray-light};
    --text-secondary-color: #{$gray};

    // Products
    --product-available-color: #{$green};
    --product-unavailable-color: #{$black};

    // Switch
    --switch-active-color: #{$blue-dark};
    --switch-inactive-color: #{$black-light};
    --switch-circle-color: #{$gray};

    // Input tab
    --input-tab-separator-color: #{$green};
    --input-tab-line-color: #{$green};
    --input-tab-background-color: #{$gray-dark};

    // Paginable icons color
    --paginable-active-color: #{$white-dark};
    --paginable-inactive-color: #{$gray};

    // Input
    --input-border-color: #{$gray};

    // Input select
    --odd-option-color: #{$gray-dark};
    --pair-option-color: #{$black-light};

    // Tables
    --table-active-backgroung-color: #{$orange};
    --table-inactive-backgroung-color: #{$gray-light};
  }
}
