$dark-theme--background-color : #333333;
$dark-theme--alternative-background-color : #232323;
$dark-theme--main-color : #EF7A08;
$dark-theme--alternative-color : #EDEDED;
// Icons
$dark-theme--icons-color : white;
$dark-theme--select-color : #0d0d0d;

// Text
$dark-theme--text-hyperlink-color : #FF8682;
$dark-theme--text-highlight-color : #bbbbbb;
$dark-theme--text-button-color : black;
$dark-theme--text-input-color : #EDEDED;
$dark-theme--text : #EDEDED;

//Unused
$dark-theme--text-title-color : white;
$dark-theme--text-body-color : #EDEDED;

// Icons
$dark-theme--icon-color : #FFFFFF;