$dark-theme--background-color          : #333333;
$dark-theme--main-color                : #EF7A08;
// Icons
$dark-theme--icons-color               : white;
$dark-theme--select-color              : #0d0d0d;

// Text
$dark-theme--text-title-color          : white;

$dark-theme--text-button-color         : black;

$dark-theme--text-body-color           : #EDEDED;
$dark-theme--text-body-highlight-color : #FF8682;
$dark-theme--text-input-color          : #EDEDED;

$dark-theme--text                      : #EDEDED;

// Icons
$dark-theme--icon-color                : #FFFFFF;



