// Pa-ca Palette
$red: #db4137;
$orange: #ef7b00;
$pink: #ff8682;
$yellow: #ece81a;
$green: #8dd3bb;

$black: #121212;
$black-light: #232323;
$gray-dark: #333333;
$gray: #646464;
$gray-light: #b6b6b6;
$white-dark: #f1f1f1;
$white: #fafbfc;