/* Break Points */
$screen-sm : 576px;
$screen-md : 768px;
$screen-lg : 992px;
$screen-xl : 1200px;

/* Global Styles */
$corner-radius: 16px;
$horizontal-padding: 85px;
$background-color: #FAFBFC;
$animation-duration: 600ms;

/* Branches */
$branch-summary-min-width: 550px;