/* Break Points */
$screen-sm: 350px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

/* Global Styles */
$corner-radius: 16px;
$horizontal-padding: 85px;
$background-color: #fafbfc;
$select-color: #f1f1f1;
$animation-duration: 600ms;
$error-color: #db4137;
$warning-color: #ECE81A;

/* Branches */
$branch-summary-min-width: 550px;

/* Welcome screens */
$welcome-padding: 105px;

/* Resolutions */
$mobile-max-width: 430px;

:export {
  errorColor: $error-color;
  warningColor: $warning-color;
  mobileMaxWidth: $mobile-max-width;
}
