@import "../../assets/scss/themes";

.spinner--container {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
}
.spinner--color circle{
  fill: var(--main-color);
  stroke: var(--background-color);
  stroke-width: 3;
}
