@import '../../assets/scss/dark-theme.scss';
@import '../../assets/scss/light-theme.scss';


.button {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  display: flex;
  flex-direction: row;
}

// Type
.button--primary {
  color: $light-theme--text-button-color;
  background-color: $light-theme--main-color;
}

.button--secondary {
  color: black;
  background-color: transparent ;//!important;
  border: 1px solid $light-theme--main-color;
}

@media (prefers-color-scheme: dark) {
  .button--primary {
    color: $dark-theme--text-button-color;
    background-color: $dark-theme--main-color;
  }

  .button--secondary {
    color: $dark-theme--text-button-color;
    background-color: transparent;
    border-color: $dark-theme--main-color;
  }
}


// Sizes
.button--extra-small {
  padding: 6.5px 10px;
}

.button--small {
  padding: 6.5px 12px;
}

.button--box {
  padding: 15px;
}

.button--medium {
  padding: 13px 16px;
}

.button--large {
  padding: 17px;
}

.button--extra-large {
  padding: 17px 24px;
}

.button--full-width {
  width: 100%;
}

// States
.button--state-selected {
  box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button--state-inactive {
  opacity: 0.4;
  cursor: default;
}