@import "../../assets/scss/mixins.scss";

.footer--container {
  display: flex;
  padding: 4vh 5vw;
  overflow: hidden;
  min-height: 130px;
  flex-direction: column;
  justify-content: space-between;
}

.footer--1st-column {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;

  @include mobile {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer--social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
