.footer--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4vh 5vw;
  overflow: hidden;
  min-width: 500px;
  min-height: 16vh;
}

.footer--1st-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

.footer--social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
