@import "../../assets/scss/themes";
@import "../../assets/scss/mixins.scss";

.footer--container {
  display: flex;
  padding: 4vh 5vw;
  overflow: hidden;
  min-width: 500px;
  min-height: 130px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-color);
}
.footer--1st-column {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;

  @include mobile {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer--social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.footer--icon {
  color: white;
}
