@import "../../assets/scss/themes";

.reserve-list--container {
  display: flex;
  flex-direction: column;
}
.reserve-list--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.reserve-list--active {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reserve-list--type {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.reserve-list--reservations {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 32px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
  background-color: var(--background-color);
}
.reserve-list--reservation {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.reserve-list--date {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--card-background-color);
}
.reserve-list--no-branch-box {
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}
