@import "../../assets/scss/mixins.scss";

.input-time--inputs {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mobile {
    gap: 5px;
  }
}
.input-time--input {
  text-align: center;
}

.input-time--error-border-bottom {
  border-bottom-color: var(--error-color);
}

.input-time--warning-border-bottom {
  border-bottom-color: var(--warning-color);
}