.plate--container {
  border-radius: 5px;
  overflow: hidden;
  min-height: 280px;
  min-width: 300px;
  display: grid;
  position: relative;
  grid-template-rows: 6fr 4fr;
}
.plate--summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.plate--text {
  text-align: center;
  margin-left: 14px;
  margin-right: 14px;
}
.plate--price {
  margin-top: 8px;
}
.plate--title {
  margin-bottom: 8px;
}
.plate--description {
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #969AB0;
}