.branch-content-overview--container {
  display: flex;
  flex-direction: column;
}
.branch-content-overview--header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.branch-content-overview--overview {
  line-height: 20px;
  text-align: justify;
  overflow: ellipsis;
}