.header--container {
  display: flex;
  background-color: white;
  align-items: center;
  padding-right: 35px;
  padding-left: 35px;
  min-height: 85px;
  min-width: 450px;
  overflow: hidden;
}
.header--subcontainer {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.header--pa-ca {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header--zone {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10px;
  background-color: transparent;
}
.header--text {
  margin-left: 5px;
}
.header--profile {
  margin-left: 10px;
  margin-right: 0px;
  background-color: transparent;
}
.header--profile-picture {
  background-color: transparent;
  width: 40px;
}
.header--name {
  background-color: transparent;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-left: 5px;
}