@import "../../assets/scss/themes";

.header--container {
  display: flex;
  min-height: 8vh;
  min-width: 450px;
  padding-left: 35px;
  padding-right: 35px;
  align-items: center;
  background-color: var(--background-color);
}

.header--subcontainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header--pa-ca {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header--zone {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10px;
  max-width: 20vw;
  overflow: hidden;
}
.header--left-zone-text {
  max-width: 15vw;
}

.header--text {
  margin-left: 5px;
  color: var(--text-title-color);
}

.header--profile {
  margin-left: 10px;
  margin-right: 0px;
}

.header--profile-picture {
  // width: 40px;
  margin-right: 5px;
}

.header--name {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-right: 5px;
}

.header--dropdown {
  margin-top: -35px;
}
